{% extends 'ecom/layout.html' %} 
{% load humanize %}
{% block title %} History {% endblock %}

{% block body %} 

    <div class="container">
        <div class="row">
            <h1 class="text-center mb-3 mt-3 index-header">My Purchases</h1>
            <div class="col-lg-6 m-auto">
                <div class="history-container">
                    {% for history in my_history %}
                        <div class="checkout-card">
                            <div class="checkout-item-details">
                                <div class="checkout-item-details-left">
                                    <a href="{% url 'item' history.product.id %}"><img src="{{ history.product.image.url }}"></a>
                                    <div>
                                        <a href="{% url 'item' history.product.id %}" class="checkout-item-name">{{ history.product.name }}</a>
                                        <span class="checkout-item-cat">{{ history.product.category }}</span>
                                        <span class="checkout-item-quantity">Quantity: {{ history.quantity }}</span>
                                        <span class="checkout-item-p">Purchased on {{ history.date_added }}</span>
                                    </div>
                                </div>
                                <div class="checkout-item-details-right">
                                    <span>${{ history.price|floatformat:2|intcomma }}</span>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <span class="text-center mt-3">You have not purchased any items.</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        
    </script>
{% endblock %}