
{% extends 'ecom/layout.html' %} 

{% block title %} Password Reset {% endblock %} 

{% block body %} 

    <div class="container login-container">
        <div class="row login-row">
            <div class="login-wrapper col-lg-12">
                <div class="login-header">
                    <h1 style="font-size: 30px;">Email has been sent!</h1>
                </div>
                <div class="login-form">
                    <span>An email has been sent with a link to reset your password. Please check your inbox or spam folder.</span>
                </div>    
            </div>
            
        </div>
    </div>

{% endblock %}
