{% extends 'ecom/layout.html' %} 

{% block title %} Password Reset {% endblock %} 

{% block body %} 

    <div class="container login-container">
        <div class="row login-row">
            <div class="login-wrapper col-lg-6">
                <div class="login-header">
                    <h1>Password Reset</h1>
                </div>
                <div class="login-form">
                    <form method="POST">
                        {% csrf_token %} 
                            <div class="reset-password-input">
                                {{ form }}
                            </div>
                        <div class="login-submit">
                            <input type="submit" class="login-submit-btn" value="Reset Password">
                        </div>
                    </form>
                </div>    
            </div>
            <div class="sign-up-wrapper col-lg-6">
                <div class="login-header">
                    <h1>Register / Log In</h1>
                </div>
                <div class="sign-up-btn">
                    <a href="{% url 'register' %}">Register</a>
                    <a href="{% url 'login' %}">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("id_new_password1").setAttribute("placeholder", "Password")
        document.getElementById("id_new_password2").setAttribute("placeholder", "Confirm Password")
    </script>
{% endblock %}